
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static '/css/family_tree/style.css' %}">
{% endblock %}

{% block content %}

<h1>Welcome to familyz</h1>
<br>
<h3 class="signin_sentence">The place to unite with your loved ones ... and your roots.</h3>
<p>Understand where you come from to know who you are and where to go.</p>


{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/family_tree/app.js' %}" defer></script>
{% endblock %}
